@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Inter";
    font-size: normal;
    font-weight: 400;
    padding: 0;
    margin: 0;
}
body,
div,
article,
aside,
footer,
section,
header,
main,
nav,
ul,
ol,
li,
button,
figure,
picture,
hr,
menu {
    display: flex;
}
body {
    margin: 0px;
    flex-direction: column;
    background-color: var(--blue);
     > main {
         min-height: 400px;
     }
}
